.backGround-image {
  background-image: url(../../assets/Union.png);
  object-fit: contain;
  background-repeat: no-repeat;
  background-position: right; /* Center the background image */
  width: 100%;
  height: 100vh;
}
